
<div class="page">
<div class="wrapper">
  <div class="top">
  <header><h2>Fitness Lanka.lk</h2></header>

  <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
</div>
<div class="Slider">
  
    <carousel>
      <slide>
        <img src="assets/2f.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </slide>
      <slide>
        <img src="assets/5f.jpg" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </slide>
      <slide>
        <img src="assets/4f.jpg" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </slide>
    </carousel>
    </div>
    
    <mat-grid-list cols="4" rowHeight="1:1">
      <mat-grid-tile>
      <mat-grid-tile-header> Gym Fitness </mat-grid-tile-header>
      <img src="/assets/5f.jpg" style="height: 70%;width: 95%">
      <mat-grid-tile-footer></mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-grid-tile-header>Sports Clubs</mat-grid-tile-header>
          <img src="/assets/4f.jpg" style="height: 70%;width: 95%">
          <mat-grid-tile-footer></mat-grid-tile-footer>
        </mat-grid-tile>
      <mat-grid-tile>
          <mat-grid-tile-header>Martial Arts</mat-grid-tile-header>
          <img src="/assets/3f.jpg" style="height: 70%;width: 95%">
          <mat-grid-tile-footer></mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-grid-tile-header>Yoga</mat-grid-tile-header>
          <img src="/assets/1f.jpg" style="height: 70%;width: 95%">
          <mat-grid-tile-footer></mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>

<footer>
  hfiuwefhuwefheiufhiuefh
  wfhjwiejfh
  wkjwejfjkej
  </footer>

</div>

</div>

