h2{
    text-align: center;
    color: darkred;
    font-family: 'Times New Roman', Times, serif
}

ul {
    
    list-style-type: none; 
    padding: 0; 
    overflow: hidden;
    background-color: rgb(209, 202, 202);
}
li {
    float: left;
}

li a {
    display: block;
    color: rgb(48, 43, 43);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(110, 102, 102);
}

.active {
    background-color: rgb(132, 130, 136);
}

    .wrapper{
background-color: rgb(245, 245, 243);
        margin-left: 2%;
        margin-right: 2%;
        height: 100%
        
    }

    .page{
        background-color: rgba(141, 136, 136, 0.767)
    }

    .Slider{
        height: 60%;
        width: 60%;
margin-left: 20%;
margin-right: 10%;

padding: 0;

    }

    mat-grid-tile {
        background: lightblue;
        margin: 0;
        float: left;
      }
    
      

      mat-grid-tile-header{
          background: rgb(238, 233, 233);
          width: 100% ;
      }

      mat-grid-tile {
        background: rgb(1, 23, 31);
      }

      footer{
          width: 100%;
          height: 25%;

      }
